@using Inovatiqa.Web.Models.Order
@model CustomerOrderListModel
@{
    Layout = "_ColumnsOne";
}
@{
    ViewBag.Title = "Orders";
}

@*
    @Html.Resource(@<link href="@Url.Content("https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css")" rel="stylesheet" type="text/css" />, "css")
    @Html.Resource(@<script src="@Url.Content("https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js")" type="text/javascript"></script>, "js")
    @Html.Resource(@<script src="@Url.Content("https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js")" type="text/javascript"></script>, "js")
    @Html.Resource(@<script src="@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js")" type="text/javascript"></script>, "js")
    @Html.Resource(@<link href="@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css")" rel="stylesheet" type="text/css" />, "css")
    @Html.Resource(@<script src="@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/jquery.tipsy/1.0.3/jquery.tipsy.min.js")" type="text/javascript"></script>, "js")
    @Html.Resource(@<link href="@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/jquery.tipsy/1.0.3/jquery.tipsy.min.css")" rel="stylesheet" type="text/css" />, "css")
    @Html.Resource(@<script src="@Url.Content("https://cdn.datatables.net/rowreorder/1.2.7/js/dataTables.rowReorder.min.js")" type="text/javascript"></script>, "js")
    @Html.Resource(@<script src="@Url.Content("https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js")" type="text/javascript"></script>, "js")
    @Html.Resource(@<link href="@Url.Content("https://cdn.datatables.net/rowreorder/1.2.7/css/rowReorder.dataTables.min.css")" rel="stylesheet" type="text/css" />, "css")
    @Html.Resource(@<link href="@Url.Content("https://cdn.datatables.net/responsive/2.2.6/css/responsive.dataTables.min.css")" rel="stylesheet" type="text/css" />, "css")
    <style>
        .shaddedleft {
            border-left: 5px solid #5f9732 !important;
            padding-right: 3px !important;
            color: #5f9732 !important;
            font-size: 0.8em !important;
            text-transform: uppercase !important;
        }

        #filter-bar {
            margin-left: 240px;
            margin-bottom: -35px;
        }

        #pageTitle {
            font-size: 1.3em;
        }
    </style>
    <div class="page account-page order-list-page from-panel">
        <div class="page-title panel-heading">
            <h1 id="pageTitle">Invoiced Orders</h1>
        </div>
        <div class="page-body">

            <div class="order-list">
                <div class="order-list">
                    <div class="col-md-12 product-details-tabs" id="tabbed-description">
                        <div id="filter-bar">
                            <label for="fromDate">From</label>
                            <input type="text" id="fromDate" value="@DateTime.Today.AddDays(-35).ToString("MM/dd/yyyy")" class="form-control date-picker" style="width:110px;display:inline">
                            <label for="toDate">To</label>
                            <input type="text" id="toDate" value="@DateTime.Today.ToString("MM/dd/yyyy")" class="form-control date-picker" style="width:110px;display:inline">
                            <a type="button" id="customer-orders-filter" title="Filters records for the last 35 days" href="#" class="btn btn-primary">Find</a>
                            <a type="button" id="customer-orders-clear" href="#" class="btn btn-primary">Clear</a>
                        </div>
                        <table id="order" class="table table-bordered table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th style="text-align:center;white-space:nowrap">
                                        PO
                                    </th>
                                    <th style="text-align:center;white-space:nowrap">
                                        Invoice
                                    </th>
                                    <th style="text-align:center;white-space:nowrap">
                                        Order
                                    </th>
                                    <th style="text-align:center;white-space:nowrap">
                                        Ship To
                                    </th>
                                    <th style="text-align:center;white-space:nowrap">
                                        Ship To Name
                                    </th>
                                    <th style="text-align:center;white-space:nowrap">
                                        Date
                                    </th>
                                    <th style="text-align:center;white-space:nowrap">
                                        Status
                                    </th>
                                    <th style="text-align:center;white-space:nowrap">
                                        Total
                                    </th>
                                    <th style="text-align:center;white-space:nowrap">
                                        Track
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Orders.Count > 0)
                                {
                                    @foreach (var order in Model.Orders)
                                    {
                                        <tr onclick="setLocation('@Url.RouteUrl("OrderDetails", new { orderId = order.Id })')" style="cursor:pointer;">
                                            <td>
                                                @order.PONumber
                                            </td>
                                            <td>
                                                @order.CustomOrderNumber
                                            </td>
                                            <td>
                                                @order.Id
                                            </td>
                                            <td>
                                                @order.ShipToId
                                            </td>
                                            <td>
                                                @order.ShipTo
                                            </td>
                                            <td>
                                                @order.CreatedOn.ToString("MM/dd/yyyy")
                                            </td>
                                            <td>
                                                @order.PaymentStatus
                                            </td>
                                            <td>
                                                @order.OrderTotal
                                            </td>
                                            <td>
                                                <i class="fa fa-truck order-track-button pointer" title="Track order" orderId="@order.Id"></i>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr id="emptyRow">
                                        <td colspan="9">
                                            <div class="no-data">
                                                Search returned no Invoiced orders from StartDate to EndDate.
                                            </div>
                                        </td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Resource(@<script type="text/javascript">
                                    $(document).ready(function () {
                                        $('#order').DataTable({
                                            "dom": '<"pull-left"f><"pull-right"l>t<"pull-left"i><"pull-right"p>',
                                            language: {
                                                search: "Find",
                                                //searchPlaceholder: "Filter records..."
                                            },
                                            "bLengthChange": false
                                        });
                                        //$('#order').DataTable();
                                        let searchParams = new URLSearchParams(window.location.search);
                                        @*var orderStatusId = 0;
                                        if (searchParams.has('orderStatusId')) {
                                            $('.order-list li').removeClass("active");
                                            if (searchParams.get('orderStatusId') != 10)
                                                $('.order-list li[value="' + searchParams.get('orderStatusId') + '"]').css("display", "none");
                                            else
                                                $('.order-list li[value="' + searchParams.get('orderStatusId') + '"]').addClass("active");
                                        }
                                        else {
                                            $('.order-list li[value="10"]').css("display", "none");
                                        }
                                        var isReturnview = @Model.IsReturnView.ToString().ToLower();

                                        if(!isReturnview)
                                            orderStatusId = $('.ordertabs').val();@

                                        $('#customer-orders-filter').tipsy();

                                        //$("#newSearchPlace").html($(".dataTables_filter"));
                                        //$('#order_filter').find('input').css({ "font-weight": "100" })

                                        $('.date-picker').datepicker();
                                        $('.ui-datepicker').css('font-size', '11px');
                                        $("#customer-orders-filter").click(function () {
                                            reloadwithParams();
                                        });
                                        $(".ordertabs").click(function () {
                                            reloadwithParams();
                                        });
                                        function reloadwithParams() {
                                            var startDateValue = $("#fromDate").val();
                                            var endDateValue = $("#toDate").val();

                                            if (startDateValue == '' || endDateValue == '') {
                                                alert("Please select date range first!");
                                                return;
                                            }

                                            if ($.datepicker.parseDate("mm/dd/yy", endDateValue) < $.datepicker.parseDate("mm/dd/yy", startDateValue)) {
                                                alert("End date must be greater than start date!");
                                                return;
                                            }
                                            setLocation('@Url.RouteUrl("CustomerInvoicedOrders")?startDateValue=' + startDateValue + '&endDateValue=' + endDateValue);
                                        }

                                        $("#customer-orders-clear").click(function () {
                                            setLocation('@Url.RouteUrl("CustomerInvoicedOrders")');
                                        });

                                        if (searchParams.has('startDateValue') && searchParams.has('endDateValue')) {
                                            $("#fromDate").val(searchParams.get('startDateValue'));
                                            $("#toDate").val(searchParams.get('endDateValue'));
                                            $('#pageTitle').append(" "+searchParams.get('startDateValue') + " to " + searchParams.get('endDateValue'));
                                            $('#emptyRow td').eq(0).text($('#emptyRow td').eq(0).text().replace("StartDate", searchParams.get('startDateValue')));
                                            $('#emptyRow td').eq(0).text($('#emptyRow td').eq(0).text().replace("EndDate", searchParams.get('endDateValue')));
                                        }
                                        else {
                                            var dateOffset = (24 * 60 * 60 * 1000) * 35; //5 days
                                            var myDate = new Date();
                                            myDate.setTime(myDate.getTime() - dateOffset);
                                            $('#pageTitle').append(" " + formatDate(myDate) + " to " + formatDate(new Date()));
                                        }

                                        $(".order-track-button").click(function () {
                                            var orderId = $(this).attr("orderId");
                                            var url = "/orderdetails/" + orderId + "?trackView=true";
                                            window.location.href = url;
                                        });
                                        function formatDate(date) {
                                            var d = new Date(date),
                                                month = '' + (d.getMonth() + 1),
                                                day = '' + d.getDate(),
                                                year = d.getFullYear();

                                            if (month.length < 2)
                                                month = '0' + month;
                                            if (day.length < 2)
                                                day = '0' + day;

                                            return [month, day, year].join('/');
                                        }
                                    });
    </script>, "js")
*@
<style>
      .jqueryPagination{
        display: @(Model.Orders.Count > 0 ? "flex" : "none");
        justify-content: space-between;
    }
    .paging_numbers span a {
        margin-right: 5px;
        cursor: pointer;
        color: #636363;
    }
    .paging_numbers span .current{
        color: #000;
    }
    .paging_numbers {
        padding-top: 8px;
    }
    .jqueryPagination p {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 13.5px;
        letter-spacing: 0.05em;
        color: #636363;
        margin-bottom:unset;
    }
</style>
@await Component.InvokeAsync("DashboardBlueBand")
@*@await Html.PartialAsync("_DashboardBlueBand")*@
<section class="container-fluid orderstatus-area">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="dashboard-area">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="sidebar_menu font_lato">
                                    <h3>Inovatiqa Dashboard</h3>
                                    @await Html.PartialAsync("_DashboardSideBar", "inovatiqa-orders")
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="order-deatil-area sorder-staus sinvoice-order">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="tabs font_lato">
                                                @await Html.PartialAsync("_OrderNewTopBar", "invoiced-orders")
                                                <hr style="margin-bottom: 10px;">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="order-content">
                                                <div class="tab-content" style="border: none !important;">
                                                    <div class="contact-manager text-right font_roboto" style="display: flex; justify-content: space-between;">
                                                        <h5>Invoiced Orders</h5>
                                                        <a href="#" class="btn conatct-btnpopup" data-toggle="modal" data-target="#contact-mform">Contact Your Account Manager</a>
                                                    </div>
                                                    <div class="font_lato">
                                                        <hr style="margin-top: 0px;">
                                                    </div>
                                                    <div class="viewsubmit-info font_roboto" style="margin-bottom: 5vh;;">
                                                        <p>Only a 180 day range of Invoice history is available from the past 18 months.  For historical Invoice reporting, please click here.</p>
                                                    </div>

                                                    <div class="order-find-area">
                                                        <div class="find-fields font_lato">
                                                            <div class="form-group">
                                                                <label>Find</label>
                                                                <input type="text" class="form-control" id="search" />
                                                            </div>
                                                           @* <div class="form-group">
                                                                <label>In</label>
                                                                <select class="form-control" id="columnSelector">
                                                                    <option value="-1">All Fields</option>
                                                                    <option value="0">PO</option>
                                                                    <option value="1">Invoice</option>
                                                                    <option value="2">Order</option>
                                                                    <option value="3">Ship to</option>
                                                                    <option value="4">Ship to Name</option>
                                                                    <option value="6">Status</option>
                                                                </select>
                                                            </div>*@
                                                            <div class="form-group">
                                                                <label>From</label>
                                                                <input type="text" class="form-control date-picker" value="@DateTime.Today.AddDays(-35).ToString("MM/dd/yyyy")" id="fromDate" placeholder="7/2/2021">
                                                            </div>

                                                            <div class="form-group">
                                                                <label>To</label>
                                                                <input type="text" value="@DateTime.Today.ToString("MM/dd/yyyy")" class="form-control date-picker" id="toDate" placeholder="7/2/2021">
                                                            </div>
                                                            <div class="date-fileds font_lato">
                                                                <div class="find-btn font_roboto">
                                                                    <input type="submit" id="customer-orders-filter" value="Find" class="btn btn-signin">
                                                                    <input type="submit" id="customer-orders-clear" value="Clear" class="btn btn-signin">
                                                                </div>
                                                            </div>
                                                        </div>



                                                        <div class="print-fileds font_lato">
                                                            <div class="print-button font_roboto">
                                                                <a href="#" class="btn btn-print"><img src="~/images/UIComponents/print-btn-img.svg">Print</a>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="items-table-area sorder-infotable sinvoicet table-responsive font_roboto">
                                                        <table class="table border-collapse mb0" id="invoiceTable">

                                                            <thead>
                                                                <tr>
                                                                    <th>Invoice</th>
                                                                    <th>Order</th>
                                                                    <th>PO</th>
                                                                    <th>Ship to</th>
                                                                    <th>Ship to Name</th>
                                                                    <th>Date</th>
                                                                    <th>Status</th>
                                                                    <th>Payment</th>
                                                                    <th>Total</th>
                                                                    <th>Track</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @if (Model.Orders.Count > 0)
                                                                {
                                                                    @foreach (var order in Model.Orders)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                <p class="invoicet-blue">@order.CustomOrderNumber</p>
                                                                            </td>
                                                                            <td>
                                                                                <p>@order.Id</p>
                                                                            </td>
                                                                            <td>
                                                                                <p>@order.PONumber</p>
                                                                            </td>
                                                                            <td>
                                                                                <p>@order.ShipToId</p>
                                                                            </td>
                                                                            <td>
                                                                                <p>@order.ShipTo</p>
                                                                            </td>
                                                                            <td>
                                                                                <p>@order.CreatedOn.ToString("MM/dd/yyyy")</p>
                                                                            </td>
                                                                            <td>
                                                                                <p class="invoicet-blue">@order.PaymentStatus</p>
                                                                            </td>
                                                                            <td>
                                                                                <p>Invoice</p>
                                                                            </td>
                                                                            <td>
                                                                                <p>@order.OrderTotal</p>
                                                                            </td>
                                                                            <td>
                                                                                @*<p><a href="#" style="color: #54B4D7;" orderId="@order.Id" class="order-track-button pointer">Track</a></p>*@
                                                                                <p><a href="javascript:void(0)" orderId="@order.Id" style="color: #54B4D7;" class="order-track-button pointer">Track</a></p>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("_ContactAccountManagerModal")

@Html.Resource(@<script type="text/javascript">
                                $(document).ready(function () {

                                    @*$('#order').DataTable({
                                        "dom": '<"pull-left"f><"pull-right"l>t<"pull-left"i><"pull-right"p>',
                                        language: {
                                            search: "Find",
                                            //searchPlaceholder: "Filter records..."
                                        },
                                        "bLengthChange": false
                                    });*@ // commented by ALi Ahmad when messing with UI
                                    //$('#order').DataTable();
                                    let searchParams = new URLSearchParams(window.location.search);
                                    @*var orderStatusId = 0;
                                    if (searchParams.has('orderStatusId')) {
                                        $('.order-list li').removeClass("active");
                                        if (searchParams.get('orderStatusId') != 10)
                                            $('.order-list li[value="' + searchParams.get('orderStatusId') + '"]').css("display", "none");
                                        else
                                            $('.order-list li[value="' + searchParams.get('orderStatusId') + '"]').addClass("active");
                                    }
                                    else {
                                        $('.order-list li[value="10"]').css("display", "none");
                                    }
                                    var isReturnview = @Model.IsReturnView.ToString().ToLower();

                                    if(!isReturnview)
                                        orderStatusId = $('.ordertabs').val();*@

                                    @*$('#customer-orders-filter').tipsy();*@//commented by ALi Ahmad when messing with UI ;)

                                    //$("#newSearchPlace").html($(".dataTables_filter"));
                                    //$('#order_filter').find('input').css({ "font-weight": "100" })

                                    $('.date-picker').datepicker();
                                    $('.ui-datepicker').css('font-size', '11px');
                                    $("#customer-orders-filter").click(function () {
                                        reloadwithParams();
                                    });
                                    $(".ordertabs").click(function () {
                                        reloadwithParams();
                                    });
                                    function reloadwithParams() {
                                        var startDateValue = $("#fromDate").val();
                                        var endDateValue = $("#toDate").val();

                                        if (startDateValue == '' || endDateValue == '') {
                                            alert("Please select date range first!");
                                            return;
                                        }

                                        if ($.datepicker.parseDate("mm/dd/yy", endDateValue) < $.datepicker.parseDate("mm/dd/yy", startDateValue)) {
                                            alert("End date must be greater than start date!");
                                            return;
                                        }
                                        setLocation('@Url.RouteUrl("CustomerInvoicedOrders")?startDateValue=' + startDateValue + '&endDateValue=' + endDateValue);
                                    }

                                    $("#customer-orders-clear").click(function () {
                                        setLocation('@Url.RouteUrl("CustomerInvoicedOrders")');
                                    });

                                    if (searchParams.has('startDateValue') && searchParams.has('endDateValue')) {
                                        $("#fromDate").val(searchParams.get('startDateValue'));
                                        $("#toDate").val(searchParams.get('endDateValue'));
                                        $('#pageTitle').append(" "+searchParams.get('startDateValue') + " to " + searchParams.get('endDateValue'));
                                        $('#emptyRow td').eq(0).text($('#emptyRow td').eq(0).text().replace("StartDate", searchParams.get('startDateValue')));
                                        $('#emptyRow td').eq(0).text($('#emptyRow td').eq(0).text().replace("EndDate", searchParams.get('endDateValue')));
                                    }
                                    else {
                                        var dateOffset = (24 * 60 * 60 * 1000) * 35; //5 days
                                        var myDate = new Date();
                                        myDate.setTime(myDate.getTime() - dateOffset);
                                        $('#pageTitle').append(" " + formatDate(myDate) + " to " + formatDate(new Date()));
                                    }

                                    $(".order-track-button").click(function () {
                                        var orderId = $(this).attr("orderId");
                                        var url = "/InvoicedOrderDetails/" + orderId + "?trackView=true";
                                        window.location.href = url;
                                    });
                                    function formatDate(date) {
                                        var d = new Date(date),
                                            month = '' + (d.getMonth() + 1),
                                            day = '' + d.getDate(),
                                            year = d.getFullYear();

                                        if (month.length < 2)
                                            month = '0' + month;
                                        if (day.length < 2)
                                            day = '0' + day;

                                        return [month, day, year].join('/');
                                    }
                                });


</script>, "js")


<script>
    $(document).ready(function () {

        const table = $('#invoiceTable').DataTable({
            "language": {
                "info": '<div class="tpage-num"><p>Showing _START_ to _END_ of _TOTAL_ Items</p></div>'
            },
            "pageLength": 5,
            "dom": 't<"jqueryPagination"ip>',
            'pagingType': 'numbers',
            'ordering':false
        });
        function filterByColumn() {
             table
                .search(this.value)
                .draw();
            //var columnNumber = Number($('#columnSelector').val());
            //if (columnNumber != -1) {
            //    table
            //        .column(columnNumber)
            //        .search(this.value)
            //        .draw();
            //}
            //else {
            //    table
            //        .search(this.value)
            //        .draw();
            //}
        }
        $('#search').keyup(filterByColumn);


    });
</script>