@model ProductDetailsModel.ProductBreadcrumbModel
@using Inovatiqa.Core;
@*if (Model.Enabled)
    {
        <div class="breadcrumb-wrapper">
            <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                <li>
                    <span>
                        <a href="@Url.RouteUrl("Homepage")">
                            <span>Home</span>
                        </a>
                    </span>
                    @*<span class="delimiter">@breadcrumbDelimiter</span>@
                </li>
                @{ int position = 1; }
                @foreach (var category in Model.CategoryBreadcrumb)
                {
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })" itemprop="item">
                            <span itemprop="name">@category.Name</span>
                        </a>
                        @*<span class="delimiter">@breadcrumbDelimiter</span>@
                        <meta itemprop="position" content="@position" />
                    </li>
                }
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <strong class="active" itemprop="name">@Model.ProductName</strong>
                    <span itemprop="item" itemscope itemtype="http://schema.org/Thing"
                          id="@Url.RouteUrl("Product", new { SeName = Model.ProductSeName })">
                    </span>
                    <meta itemprop="position" content="@position" />
                </li>
            </ul>
        </div>
    } *@

@if (Model.Enabled)
{
    <section class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="row flex_col m_t_20 m_b_20">
                    <div class="col-md-12 brad_crump">
                        <a href="@Url.RouteUrl("Homepage")">Home</a>
                        <span>/</span>
                        @foreach (var category in Model.CategoryBreadcrumb)
                        {
                            <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">@category.Name</a>
                            <span>/</span>
                        }
                    <span>@Model.ProductName</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
