@model CheckoutShippingAddressModel
@{
    Context.Items["inovatiqa.IgnoreScriptTagLocation"] = true;
}
@*
    <div class="checkout-data">
        @if (Model.PickupPointsModel == null || !Model.PickupPointsModel.PickupInStoreOnly)
        {
            <div class="shipping-addresses" id="shipping-addresses-form">
                @if (Model.ExistingAddresses.Count > 0)
                {
                    <div class="section select-shipping-address">
                        <label for="shipping-address-select">Select a shipping address from your address book or enter a new address.</label>
                        @if (Model.InvalidExistingAddresses.Count > 0)
                        {
                            <label class="min-amount-warning">
                                @string.Format("You have {0} invalid address(es)", Model.InvalidExistingAddresses.Count)
                            </label>
                        }
                        <div>
                            <select name="shipping_address_id" id="shipping-address-select" class="address-select form-control dropdown-toggle" style="margin-left: 25%; margin-right: auto;"
                                    title="" onchange="Shipping.newAddress(!this.value)">
                                @foreach (var address in Model.ExistingAddresses)
                                {
                                    var addressLine = "";
                                    addressLine += address.FirstName;
                                    addressLine += " " + address.LastName;
                                    if (address.StreetAddressEnabled && !string.IsNullOrEmpty(address.Address1))
                                    {
                                        addressLine += ", " + address.Address1;
                                    }
                                    if (address.CityEnabled && !string.IsNullOrEmpty(address.City))
                                    {
                                        addressLine += ", " + address.City;
                                    }
                                    if (address.CountyEnabled && !string.IsNullOrEmpty(address.County))
                                    {
                                        addressLine += ", " + address.County;
                                    }
                                    if (address.StateProvinceEnabled && !string.IsNullOrEmpty(address.StateProvinceName))
                                    {
                                        addressLine += ", " + address.StateProvinceName;
                                    }
                                    if (address.ZipPostalCodeEnabled && !string.IsNullOrEmpty(address.ZipPostalCode))
                                    {
                                        addressLine += " " + address.ZipPostalCode;
                                    }
                                    if (address.CountryEnabled && !string.IsNullOrWhiteSpace(address.CountryName))
                                    {
                                        addressLine += ", " + address.CountryName;
                                    }
                                    //how should we render "FormattedCustomAddressAttributes" here?
                                    <option value="@(address.Id)">@(addressLine)</option>
                                }
                                <option value="" selected="@Model.NewAddressPreselected">New Address</option>
                            </select>
                        </div>
                    </div>
                }
                <div class="section new-shipping-address" id="shipping-new-address-form">
                    <div class="enter-address">
                        @{
                            var dataDictAddress = new ViewDataDictionary(ViewData);
                            dataDictAddress.TemplateInfo.HtmlFieldPrefix = "ShippingNewAddress";
                            @await Html.PartialAsync("_CreateOrUpdateAddress", Model.ShippingNewAddress, dataDictAddress)
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    *@
<div class="row flex_col align_center">
    <div class="col-md-8">
        <h2>Shipping info</h2>
        <p>Please enter your Shipping info</p>
    </div>
    <div class="col-md-4 text-right step-title">
        <p>Step 1 of 5</p>
    </div>
</div>
<div class="row flex_col m_t_30">
    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
        @if (Model.ExistingAddresses.Count > 0)
        {
            @if (Model.InvalidExistingAddresses.Count > 0)
            {
                <div class="alert alert-danger" role="alert">
                    @string.Format("You have {0} invalid {1}", Model.InvalidExistingAddresses.Count, Model.InvalidExistingAddresses.Count > 1 ? "addresses" : "address")
                </div>
            }
            <label>Please Select Shipping Addres</label>
            <select class="form-control" name="shipping_address_id" id="shipping-address-select" onchange="ShippingChange(this.value)">
                <option value="0" selected="selected">Select a shipping address</option>
                @foreach (var address in Model.ExistingAddresses)
                {
                    var addressLine = "";
                    addressLine += address.FirstName;
                    addressLine += " " + address.LastName;
                    if (address.StreetAddressEnabled && !string.IsNullOrEmpty(address.Address1))
                    {
                        addressLine += ", " + address.Address1;
                    }
                    if (address.CityEnabled && !string.IsNullOrEmpty(address.City))
                    {
                        addressLine += ", " + address.City;
                    }
                    if (address.CountyEnabled && !string.IsNullOrEmpty(address.County))
                    {
                        addressLine += ", " + address.County;
                    }
                    if (address.StateProvinceEnabled && !string.IsNullOrEmpty(address.StateProvinceName))
                    {
                        addressLine += ", " + address.StateProvinceName;
                    }
                    if (address.ZipPostalCodeEnabled && !string.IsNullOrEmpty(address.ZipPostalCode))
                    {
                        addressLine += " " + address.ZipPostalCode;
                    }
                    if (address.CountryEnabled && !string.IsNullOrWhiteSpace(address.CountryName))
                    {
                        addressLine += ", " + address.CountryName;
                    }
                    <option value="@(address.Id)">@(addressLine)</option>
                }
                <option value="" selected="@Model.NewAddressPreselected">New Address</option>
            </select>
        }
    </div>
    <div id="shipping-new-address-form" hidden>
        <div asp-validation-summary="ModelOnly" class="message-error"></div>
        @{
            var dataDictAddress = new ViewDataDictionary(ViewData);
            dataDictAddress.TemplateInfo.HtmlFieldPrefix = "ShippingNewAddress";
            // @await Html.PartialAsync("_CreateOrUpdateAddress", Model.ShippingNewAddress, dataDictAddress)
            @await Html.PartialAsync("_CreateAddressCheckout", Model.ShippingNewAddress, dataDictAddress)
        }
        <div class="col-md-12">
            <div class="signin-btn font_roboto">
                <input type="button" value="Create Address" class="btn btn-signin" onclick="Shipping.save()">
            </div>
        </div>
    </div>
</div>

<script>
    function ShippingChange(val){
        if(val === ''){
            $('#shipping-new-address-form').show();
        }
        else{
            if(val != 0){
                $('#shipping-new-address-form').hide();
                Shipping.save();
            }
            else{
                $('#shipping-new-address-form').hide();
            }
        }
    }
</script>